<!DOCTYPE html>
<html class="has-background-light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Loading - Jeu</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script>
            function refreshScore() {
              var number = "0";
              document.getElementById("nbJetons").innerHTML = number + " Jetons";
            }
        </script>
        </head> 

    <body onload="refreshScore()"> 
        <nav class="navbar has-background-grey-lighter" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                    Projet Big Data - NoSQL
                    </a>
                </div>
                               
                <div class="navbar-end">
                    <div class="navbar-item">
                        <button class="button"><span id="nbJetons"></span></button>  
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>